<div class="row">
    <div class="col-md-12">
        <div class="well">
            <form name="note" novalidate>
                <div class="form-group">
                    <label for="noteTitle">Tytuł</label>
                    <input type="text" class="form-control" id="noteTitle" placeholder="Tytuł wpisu">
                </div>
                <div class="form-group">
                    <label for="noteContent">Treść wpisu</label>
                    <textarea class="form-control" id="noteContent" placeholder="Treść wpisu"></textarea>
                </div>
                <div class="form-group">
                    <label for="noteDate">Data wpisu</label>
                    <input type="text" class="form-control" id="noteDate" pattern="\d{4}-\d{2}-\d{2}" placeholder="rrrr-MM-dd">
                </div>
                <button type="submit" class="btn btn-default">Zamieść wpis</button>
            </form>
        </div>
    </div>
</div>